.about-intro {
  background: url(../img/about-intro.jpg) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.about-intro::before {
  content: "";
  top: 0;
  z-index: -1;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #2F3B59;
  opacity: 0.75;
}

.about-intro__wrapper {
  padding: 72px 0;
}

.about-intro__around {
  background: url(../../img/about-around.svg) no-repeat;
  background-position: calc(50% + 635px) calc(50%);
}

.about-intro__title {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  font-family: "Space Mono";
  color: #fff;
  margin: 0;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  .about-intro {
    background: url(../img/about-intro@2x.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: $tablet) {
  .about-intro {
    background: url(../../img/about-intro-tablet.jpg) no-repeat;
    background-size: cover;
    width: auto;
  }

  

  .about-intro__around {
    background: url(../../img/about-around.svg) no-repeat;
    background-position: calc(50% + 300px) calc(50%);
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {

    .about-intro {
      background: url(../img/about-intro-tablet@2x.jpg) no-repeat;
      background-size: cover;
    }
  }
}

@media screen and (max-width: $mobile) {
  .about-intro__title{
    text-align: center;
  }

  .about-intro__around{
    background: none;
  }
}