.call-to-action{
  background: #495567;
}

.call-to-action__around{
  background: url(../../img/around_3.png) no-repeat center center;
  background-position: calc(50% + 300px) calc(50% + 170px);
}

.call-to-action__title{
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
  font-family: 'Space Mono';
  color: #fff;
  width: 415px;
  margin-right: auto;
}

.call-to-action__googleplay{
  margin-left: 18px;
}

.call-to-action__wrapper{
  align-items: center;
  display: flex;
  padding-top: 102px;
  padding-bottom: 102px;
}


@media screen and (max-width: $tablet) {
  .call-to-action__wrapper{
    display: block;
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .call-to-action__title{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }

  .call-to-action__link{
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .call-to-action__around{
    background-position: calc(50%) calc(50% + 160px);
  }

  .call-to-action__appstore-icon{
    width: 113.57px;
    height: 40px;
  }

  .call-to-action__googleplay-icon{
    width: 130px;
    height: 40px;
  }
}

@media screen and (max-width: $mobile) {
  .call-to-action__title{
    width: auto;
    font-size: 32px;
    line-height: 32px;
  }

  .call-to-action__googleplay{
    margin-left: 12px;
  }

  .call-to-action__link{
    display: flex;
    width: auto;
  }
}