.faqs {
  text-align: center;
  margin-bottom: 160px
}

.faqs__list {
  @include reset-list;
  display: flex;
  width: 100%;
  margin-bottom: 64px;
}

.faqs__list:last-child {
  margin-bottom: 0;
}

.faqs__title {
  font-family: 'Space Mono';
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
  color: #495567;
  margin: 0;
  margin-bottom: 64px;
}

.faqs__list-item {
  width: 35%;
  margin-right: 30px;
}

.faqs__item-title {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  font-family: 'Space Mono';
  color: #495567;
}

.faqs__item-list {
  @include reset-list;
  width: 100%;
}



.faqs__item-more {
  width: 65%;
}

.faqs__item {
  width: 100%;
  margin-bottom: 16px;
}

.faqs__item:last-child {
  margin-bottom: 0;
}

.faqs__button {
  width: 100%;
  padding: 32px 40px;
  background-color: #F2F5F9;
  border: none;

  &:hover {
    transition: 0.5s all ease;
    background-color: #FFF4DF;
  }
}

.faqs__button-title {
  font-family: 'Space Mono';
  margin: 0;
  text-align: start;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
  color: #495567;
  position: relative;
  display: block;
}

.faqs__button-desc {
  display: none;
  margin: 0;
  margin-top: 24px;
  color: #495567;
  text-align: start;
  font-size: 15px;
  line-height: 25px;
  // display: block;
  font-family: 'Lexend Deca';
}

.faqs__button-desc--active{
  display: block;
}

.faqs__title-wrapper {
  margin: 0;
}

.faqs__button-title::before {
  content: "";
  position: absolute;
  background: url(../../img/arrow.png) no-repeat;
  width: 18px;
  height: 12px;
  top: 10%;
  left: 100%;
  transform: translate(-50%);
}

.faqs__button-title--active::before{
  transform: rotate(180deg);
  transition: .5s all ease;
} 

@media screen and (max-width: $tablet) {
  .faqs__list {
    display: block;
  }

  .faqs__list-item {
    margin: 0 auto;
    width: 100%;
  }

  .faqs__item-more {
    width: 100%;
  }

  .faqs__item-title {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: $mobile) {
  .faqs__button-title::before {
    transform: translate(0%);
  }

  .faqs__list{
    margin-bottom: 48px;
  }
}