.footer{
  display: flex;
  align-items: center
}

.footer__icon-link{
  margin-right: 58.58px
}

.footer__list{
  @include reset-list;
  display: flex;
}

.footer__list-item{
  margin-right: 32px;
}

.footer__list-item:last-child{
  margin-right: 0;
}

.footer__link{
  color: #939CAA;
  font-size: 15px;
  line-height: 25px;

  &:hover{
    color: #FCB72B;
  }
}

.footer__social-list{
  @include reset-list;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.footer__social-item{
  margin-right: 24px;
}

.footer__social-item:last-child{
  margin-right: 0;
}


.icon{
  width: 24px;
  height: 24px;
  fill: #FCB72B;

  &:hover{
    fill: #fff;
  }
}

@media screen and (max-width: $mobile) {
  .footer{
    display: block;
    padding-bottom: 165px;
  }

  .footer__icon{
    margin: 0 auto;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 41.44px;
  }
  
  .footer__social-list{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .footer__list{
    display: block;
    text-align: center;
  }
  
  .footer__list-item{
    margin: 0;
    margin-bottom: 16px;
  }

  .footer__list-item:last-child{
    margin-bottom: 85px;
  }

  .footer__icon-link{
    margin-right: 0;
    margin-bottom: 41.44px;
  }
}
