.our-convenience{

}

.our-convenience__list{
  @include reset-list;
}

.our-convenience__list-item{
  display: flex;
  align-items: center;
  margin-bottom: 160px;
  justify-content: space-between;
  position: relative;
}

.our-convenience__list-item::after{
  content: "";
  background: url(../../img/around.png) no-repeat;
  position: absolute;
  width: 445px;
  height: 100%;
  right: -520px;
}

.our-convenience__list-item:nth-child(2n)::after{
  left: -520px;
}

.our-convenience__list-item:last-child{
  margin-bottom: 0;
}

.our-convenience__list-item:nth-child(2n){
  flex-direction: row-reverse;
  
}

.our-convenience__title{
  font-family: 'Space Mono';
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
  color: #495567;
}

.our-convenience__desc{
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin-top: 24px;
  margin-bottom: 40px;
}

.our-convenience__wrapper{
  width: 445px;
  
}

.our-convenience__picture{
  border-radius: 50%;
}


.our-convenience__link{
  display: inline-block;
  padding: 13px 44px;
  border: 1px solid transparent;
  background-color: #FCB72B;
  color: #fff;
}