.sharing-made {
  background: url(../img/sharing-made.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  padding-top: 153px;
  padding-bottom: 152px;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 1;
  margin-bottom: 160px;
}

.sharing-made::before {
  content: "";
  top: 0;
  z-index: -1;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #2F3B59;
  opacity: 0.75;
}

.sharing-made::after{
  content: "";
  z-index: -1;
  position: absolute;
  display: block;
  background: url(../img/oblique-arrow.png) no-repeat;
  width: 452px;
  height: 150px;
  top: 355px;
  right: 282px;
}

.sharing-made__wrapper{
  margin-left: 95px;
}

.sharing-made__title{
  font-family: "Space Mono";
  width: 500px;
  font-size: 56px;
  line-height: 56px;
  margin: 0;
  letter-spacing: -2.5px;
  color: #fff;
}

.sharing-made__desc{
  margin: 0;
  width: 405px;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #fff;
}

.sharping-made__line{
  position: absolute;
  width: 203px;
  height: 15px;
  display: block;
  background-color: #FCB72B;
  left: 0px;
  top: 351px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .sharing-made{
    background: url(../../img/sharing-made@2x.jpg) no-repeat;
    background-size: cover;
  } 

}