.sign-up{
  background: #495567;
}

.test{
  
}

.sign-up__title{
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
  font-family: 'Space Mono';
  color: #fff;
  width: 415px;
  margin-right: auto;
}

.sign-up__googleplay{
  margin-left: 18px;
}

.sign-up__wrapper{
  align-items: center;
  display: flex;
  padding-top: 102px;
  padding-bottom: 102px;
}